/* Created by: ZoiaB
* Created on: May 2023
* This CSS file defines the style for index.html
* ICS2O-Unit5-01-HTML-NumberDisplay
*/

body {
  width: 80%;
  margin: 5% 10%;
  background-color: #F4E4BA;
  padding-left: 10px;
  padding-right: 10px;
}

h1 {
  text-align: center;
  padding: 30px;
  color: #eaa9c9;
  background-color: #b30068;
}

h3 {
  padding: 30px;
  color: #E5A9A9;
}

#results {
  padding: 30px;
  background-color: #b30068;
  margin-top: 30px;
}
